Actividad2/biblioteca.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="biblioteca">
        <complexType>
            <sequence>
                <element name="libros">
                    <complexType>
                        <sequence>
                            <element name="libro" minOccurs="1" maxOccurs="unbounded">
                                    <complexType>
                                        <sequence>
                                            <element name="titulo" type= "string"/>
                                            <element name="capitulos">
                                                    <complexType>
                                                        <sequence>
                                                            <element name="capitulo" minOccurs="1" maxOccurs="unbounded">
                                                                <complexType>
                                                                    <sequence>
                                                                        <element name="titulo" type= "string"/>
                                                                        <element name="contenido">
                                                                            <complexType>
                                                                                <attribute name="enlace" use="required"/>
                                                                            </complexType>
                                                                         </element>
                                                                    </sequence>
                                                                        <attribute name="numero_paginas" type="integer"  use="required"/>
                                                                </complexType>
                                                            </element>
                                                                    
                                                        </sequence>
                                                    </complexType>
                                            </element>
                                            <element name="indice" type= "string"/>
                                            <element name="sinopsis" type= "string"/>
                                        </sequence>
                                            <attribute name="id" use="required">
                                                <simpleType>
                                                    <restriction base="string">
                                                        <length value="5"/>
                                                        <pattern value="[L][1-9]{4}"/>
                                                    </restriction>
                                                </simpleType>
                                            </attribute>
                                            <attribute name="numero_paginas" type="integer" use="required"/>
                                            <attribute name="tipo_clase" use="required">
                                                <simpleType>
                                                    <restriction base="string">
                                                        <enumeration value="novela"/>
                                                        <enumeration value="infantil"/>
                                                        <enumeration value="didactico"/>
                                                    </restriction>
                                                </simpleType>
                                            </attribute>
                                            
                                    </complexType>
                            </element>
                            
                        </sequence>
                       
                    </complexType>
                </element>
                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <element name="periodico" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="secciones_periodico">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion_periodico">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="contenido">
                                                                   <complexType>
                                                                       <attribute name="enlace" use="required"/>
                                                                   </complexType>
                                                                </element>
                                                                <element name="articulo">
                                                                    <complexType>
                                                                        <attribute name="autor" use="required"/>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo_seccion" use="required">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <enumeration value="economica"/>
                                                                        <enumeration value="opinion"/>
                                                                        <enumeration value="deportes"/>
                                                                        <enumeration value="nacional"/>
                                                                        <enumeration value="internacional"/>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                            <attribute name="numero_paginas" type="integer" use="required"/>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="indice" type="string"/>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <length value="5"/>
                                                <pattern value="[P][1-9]{4}"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="nacional"/>
                                                <enumeration value="internacional"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fecha_publicacion" type="date"/>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="revistas">
                    <complexType>
                        <sequence>
                            <element name="revista">
                                <complexType>
                                    <sequence>
                                        <element name="titulo"/>
                                        <element name="numero"/>
                                        <element name="indice"/>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="enlace" use="required"/>
                                                                    </complexType>
                                                                 </element>
                                                            </sequence>
                                                            <attribute name="numero_paginas" type="integer" use="required"/>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <length value="5"/>
                                                <pattern value="[R][1-9]{4}"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="informatica"/>
                                                <enumeration value="corazon"/>
                                                <enumeration value="coches"/>
                                                <enumeration value="investigacion"/>
                                                <enumeration value="otras"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="numero_paginas" type="integer" use="required"/>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
